body, html {
    background-color: black;
    margin:0;
    padding:0;
    font-size:0;
}

div {
    display:none;
 }
canvas {
    align-items: center;
    height: 100vh;
    width: 100vw;
}

li {
    color: white;
}

main {
    background-color: mediumslateblue;
    width: 100vw;
    padding: 2vh;
    align-items: center;
    /* display:flex; */
}

button{
    border-radius: 100%;
    height: 25px;
    margin-left: 50%;
    margin-right: 50%;
    background-color: white;
}

button:hover{
    background-color: mediumslateblue;
}